.dimmed {
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    padding-top: 20pt;
    padding-bottom: 21pt;
}

.white {
    width: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    padding-top: 20pt;
    padding-bottom: 21pt;
}

.process {
    font-size: 12pt;
    font-weight: 600;
}

.statement {
    padding-top: 130pt;
    padding-bottom: 20pt;
}

.contact {
    padding-top: 20pt;
    padding-bottom: 20pt;
    background-color: rgba(0, 0, 0, 0.5);
}